%define debug_package %{nil}

%define dist_version __TOMCAT_VERSION__
%define major_version __TOMCAT_MAJOR_VERSION__

%define dist_download_dir tomcat-%{major_version}
%define tc_name apache-tomcat-%{dist_version}

%define package_name tomcat-%{major_version}
%define package_version %{dist_version}
%define packager Ryan Doherty <rdoherty@upenn.edu>

Summary: Apache Tomcat Server
Name: %{package_name}
Version: %{package_version}
Release: 1
License: Apache 2.0
Group: Networking/Daemons
URL: https://tomcat.apache.org
Packager: %{packager}

Requires: java-21-openjdk

Source0: https://archive.apache.org/dist/tomcat/%{dist_download_dir}/v%{dist_version}/bin/%{tc_name}.tar.gz

BuildRoot: %{_tmppath}/%{tc_name}

%description
Tomcat is the servlet container that is used in the official Reference
Implementation for the Java Servlet and JavaServer Pages technologies.
The Java Servlet and JavaServer Pages specifications are developed by
Oracle under the Java Community Process.

This package is tailored for the VEuPathDB project.

%prep
%setup -q -n %{tc_name}
#%setup -q -D -T -a 1 -n %{tc_name}

%build
cd bin
tar zxf commons-daemon-native.tar.gz
cd commons-daemon*/unix
./configure --with-java=/usr/lib/jvm/java
make

%install
rm -rf $RPM_BUILD_ROOT
mkdir -p $RPM_BUILD_ROOT/usr/local
pwd
cp -a . $RPM_BUILD_ROOT/usr/local/%{package_name}
pwd
cp bin/commons-daemon-*-native-src/unix/jsvc $RPM_BUILD_ROOT/usr/local/%{package_name}/bin

%post
cd /usr/local/
if [ ! -e apache-tomcat ]; then
    ln -fs %{package_name} apache-tomcat
fi

%clean
rm -rf $RPM_BUILD_ROOT

%files
%defattr(-, root, root)
/usr/local/%{package_name}

%doc

